body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1 h2 h3 h4 h5 h6{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: inherit;
}
a:hover{
    color: inherit;
}
/* Headings */
.main-heading{
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
}
.section-heading{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
/* Containers */
.container-fluid{
    padding: 7% 15%;
}
/* background color */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}
/* title section */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
/* Navbar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}
.nav-item{
    padding: 0 18px;
} 
.nav-link{
    font-size: 1.2rem;
}
/* download-btn */
.download-btn{
    margin: 5% 3% 5% 0;
}
/* title-img */
.image-column{
    position: relative;
}
.iphone-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}
@media (max-width:1100px){
    .mobile-center{
        text-align: center;
    }
    .iphone-img{
        position: static;
        transform: rotate(0deg);
    }
    
}
/* features */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.section-box-text{
    padding: 0% 15%;
    color: #8f8f8f;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #fa2948;
}
.features-header{
    font-weight: bold;
}
/* Testimonials */
#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 15%;
    border-radius: 100%;
}
.testimonial-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    padding-bottom: 5%;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}
/* Pricing */
#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2% 5%;
} 
.header-text{
    font-weight: bold;
}
.body-header{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
/* Call to Action */
#cta{
    background-color: #ff4c68;
    color: #fff;
}
.cta-text{
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
}
/* Footer */
#footer{
    background-color: #fff;
}
.footer-icon{
    margin: 0px 10px 40px;
}
#footer-text{
    color: #8f8f8f;
}